
@Styles.Render("~/Content/css/Adm")
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div>
            <h3>Snap.js</h3>
            @*<div class="demo-social">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Snap.js - A Library for creating beautiful mobile shelfs in Javascript" data-url="http://jakiestfu.github.com/Snap.js/" data-count="none" data-via="jakiestfu">Tweet</a>
                    <a href="https://twitter.com/jakiestfu" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @jakiestfu</a>
                    <iframe src="http://ghbtns.com/github-btn.html?user=jakiestfu&amp;repo=Snap.js&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
                </div>*@
            <h4>Demos</h4>
            <ul>
                <li><a href="default.html">Default</a></li>
                <li><a href="noDrag.html">No Drag</a></li>
                <li><a href="dragElement.html">Drag Element</a></li>
                <li><a href="rightDisabled.html">Right Disabled</a></li>
                <li><a href="hyperextend.html">Hyperextension Disabled</a></li>
                <li><a href="skinnyThreshold.html">Skinny Threshold</a></li>
                <li><a href="toggles.html">Toggles</a></li>
                <li><a href="classNames.html">Class Names</a></li>
                <li><a href="expand.html">Expanding</a></li>
                <li><a href="settings.html">Settings</a></li>
                <li><a href="ratchet/template.html">Ratchet</a></li>
            </ul>
            <div>
                <p>The Default demo shows basic Snap.js functionality</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla non erat ac leo ultrices blandit sed vel risus. Pellentesque facilisis blandit auctor. Maecenas vestibulum vulputate tincidunt. Mauris nec quam libero. Fusce eget ligula non leo varius condimentum quis ac elit. Donec id urna ut neque semper ultrices. Proin ut suscipit felis. Nullam neque felis, ullamcorper scelerisque volutpat vel, vehicula vehicula neque. Aenean scelerisque elit ac erat sagittis ullamcorper.</p>
            </div>
        </div>
    </div>
</div>

